**Stats Methods**

In [1]:
import numpy as np
import pandas as pd

In [8]:
# nparray with random INT

data = np.random.randint(11,50,size=(3,3))

In [9]:
# DataFrame 

demodf = pd.DataFrame(data,columns=['x','y','z'])

In [11]:
demodf.head()

    x   y   z
0  47  22  28
1  38  49  43
2  39  23  23

In [12]:
# describe()
demodf.describe()

               x          y          z
count   3.000000   3.000000   3.000000
mean   41.333333  31.333333  31.333333
std     4.932883  15.307950  10.408330
min    38.000000  22.000000  23.000000
25%    38.500000  22.500000  25.500000
50%    39.000000  23.000000  28.000000
75%    43.000000  36.000000  35.500000
max    47.000000  49.000000  43.000000

In [13]:
# mean
demodf.mean()

x    41.333333
y    31.333333
z    31.333333
dtype: float64

In [15]:
# corr : Pearson Correaltion
demodf.corr()

          x         y         z
x  1.000000 -0.611379 -0.373306
y -0.611379  1.000000  0.962362
z -0.373306  0.962362  1.000000

In [18]:
# median() : Middle value in the sorted data
demodf.median()

x    39.0
y    23.0
z    28.0
dtype: float64

In [19]:
# std(): Standard deviation measures the spread of data.
demodf.std()

x     4.932883
y    15.307950
z    10.408330
dtype: float64